.cardproy{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}



.cardproy_img{
    display: block;
    height: 100px;
}


.cardproy_button{
    display: block;
    border: none;
}
.cardproy_button:hover{
    background: slateblue;
}

.cardproy_title{
    text-align: center;
    line-height: 0.9;
    height: 40px;
    margin-top: 10px;
    text-transform: uppercase;
    color:#2980b9;
    
}
.cardproy_description{
    text-align: justify;
    height: 8rem;
    font-size: 17px;
    word-wrap: break-word;
    margin-bottom: -5px;
    overflow: auto;
}
.cardproy_description:hover{
    color: blueviolet;
}

@media (max-width:900px){

    .cardproy_description{
    text-align:inherit;
    margin-bottom: 10px;
    overflow: auto;
    width: 200px;
    }
    
  }