*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family:"bungeshade";
    src: url('./fonts/BungeeShade-Regular.ttf');
}
html, body{
    /* background-image:url('./images/fondo-web.png'); */

    
}

header{
    background-color:gray;
}
.menu-nav{
    font-weight:bold;
    color: green;

}

/* /////////cclase card llevar a sus estilos */

.card{
    margin:10% 15%;
}


.contenedorcards{

     background-color:rebeccapurple;

}

.overflow{
    overflow: hidden;
}
.card-img-top{
    transform: scale(1);
    
}
.card-img-top:hover{
    transform: scale(1.8);
}

@media screen and (min-width: 800px){

.card{
    margin:10% 15%; 
}



.contenedor{
    height: 100%;
    width: 100%;  
    padding: 0;
}




.contenedorcards{
    
     background-color:rebeccapurple;
}


.overflow{
    overflow: hidden;
}
.card-img-top{
    transform: scale(1);
    transition: trasform 0.5s ease;
    height: 121px;
}
.card-img-top:hover{
    transform: scale(1.2);
}

.card-title{
    
}

}